.env
.DS_Store

*.pyc
*.sqlite
article_cache
*.txt
*.csv
*.xlsx
legacy_mediacloud.ipynb
semantic_pipeline/local_news_pipeline.py
semantic_pipeline/local_news.ipynb
semantic_pipeline/mediacloud_data.ipynb
semantic_pipeline/web_search.py
semantic_pipeline/custom_search.py
utils/LLM_search.ipynb
data_storage