.env
.DS_Store

*.pyc
*.sqlite
article_cache
*.txt
*.csv
*.xlsx
legacy_mediacloud.ipynb
data_retrieval/local_news_pipeline.py
data_retrieval/local_news.ipynb
data_processing/LLM_search.ipynb
data_storage/*